<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home page</title>

</head>
<body>

<script src="/js/jquery-1.11.3.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
	
	$.ajax({
		  type: "GET",
		  url: "/sessionInfo",
		  dataType: "json",
		  contentType : "application/json"
		}).done(function(data) {
			if(data) {
				$("#tenantName").text(data.tenantName);
				$("#username").text(data.username);
			}
	});

});
</script>

<h2 class="page-title">Welcome <span id="username" ></span></h2>
<h2 class="page-title">You are now at Tenant : <span id="tenantName" ></span></h2>

<div><a href="/page/udfCreate.html" >Go to UDF settings page</a></div>
<div><a href="/page/orderList.html" >Go to Order list page</a></div>

</body>
</html>